
  img {
  	width: 100%;
  	height: 150px;
  }
  #div1{
  	margin-top: 20px;
  }
  #logo {
    height: 125px;
    width: 150px;
    text-align:left;
  }
  #fb{
  height: 50px;
  width: 50px;
  }

  body{
  	background: url(../img/f2.jpg) fixed center center;
  }

  #divsli{
  	margin-top: -10px;
  }
.navbar{
  background-color: #AC8359;
}

#sect1{
	background: #ffe6cc;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
  border: dashed;
  border-radius: 12px;
  border-color: #330000;
}
#art3{
margin-top: 20px;
}

#btn1{
	text-align: left;
}

#sect2{
background:white;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
border-radius: 8px;
border-color: orange;
font-weight: bold;
}


footer{
background: #AC8359;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
border-radius: 8px;
border-color: #330000;
}
#prin{
  background: url(../img/tort.jpg);
}
#div2{
  background: #ffe6cc;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  border-radius: 8px;
  border-color: #AC8359;
}
#croquis{
  width: 500px;
  height: 200px;
}
