.centrar{
  margin: auto;
  text-align: center;
}

#div1{
  margin-top: 20px;
}
#divReproductor{
  height: 300px;
  width: 200px;
  margin-top: 20px;
}
#logo {
  height: 125px;
  width: 150px;
  text-align:left;
}
#fb{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
}
body{
  background: url(../img/fondo1.jpg) no-repeat fixed center center;
}

#divsli{
  margin-top: -10px;
}
.navbar{
background-color: #white;
}

#prin{
  background: url(../img/) no-repeat fixed center center;

}
#sect1{
background: #ffe6cc;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
border: dashed;
border-radius: 12px;
border-color: #330000;
}
#art3{
margin-top: 20px;
}

#btn1{
text-align: left;
}

#sect2{
background:orange;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
border-radius: 8px;
border-color: orange;
font-weight: bold;
}
.reproductor{
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 10px;
  height: 750px;
  width: 1000px;
  text-align:center;;
}

footer{
background: #AC8359;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
border-radius: 8px;
border-color: #330000;
}
