*{
  margin: 0px;
  padding: 0px;
  }
body{
  background-color: black;
}
form{

  background:#333333;
  width: 600px;
  border: 1px solid #4e4d4d;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 10px #000;
  margin: 50px auto;
}

form h1{
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 40pt;
  margin: 30px 0px;


}
#Nombre{
width: 450px;
height: 35px;
padding: 0px 10px;
margin: 10px 30px;
color: #6d6d6d;
text-align: center;


}
#E_mail{
width: 450px;
height: 35px;
padding: 0px 10px;
margin: 10px 30px;
color: #6d6d6d;
text-align: center;


}
#Asunto{
width: 450px;
height: 35px;
padding: 0px 10px;
margin: 10px 30px;
color: #6d6d6d;
text-align: center;


}

#Mensaje{
width:450px;
height: 100px;
padding: 0px 10px;
margin: 10px 30px;

text-align: center;

}

#boton_enviar{
width: 135px;
margin: 20px 0px 30px 200px;
height: 50px;





}
