.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  #logo {
    height: 400px;
    width: 600px;
    text-align:left;
  }
  #logo1 {
    height: 100px;
    width: 150px;
    text-align:left;
  }
  #fb{
  height: 50px;
  width: 50px;
}
  #div1{
  	margin-top: 20px;
  }

  body{
  	background: url(../img/1.jpg) no-repeat fixed center center;

  }

  #divsli{
  	margin-top: -10px;
  }
.navbar{
  background-color: #white;
}

#sect1{
	background: #ffe6cc;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
  border: dashed;
  border-radius: 12px;
  border-color: #330000;
}
#art3{
margin-top: 20px;
}

#btn1{
	text-align: left;
}

#sect2{
  background: #ffe6cc;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  border-radius: 8px;
  border-color: #AC8359;
}

footer{
  background: #AC8359;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;

  border-radius: 8px;
  border-color: #330000;
}
